.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
        
    .Label {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
        font-size: 1.5rem;
        color: black;
    }
    .InputElement {
        outline: none;
        border: 1px solid #CCC;
        background-color: white;
        font: inherit;
        padding: 6px 10px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 4rem;
    }
    
    
    .InputElement:focus {
        outline: none;
        background-color: #CCC;
    
    }
    
    .Invalid {
        border: 1px solid red;
        background-color: #FDA49A;
    }
}


