@import "mediaQuery_variables.scss";
@import "animation.scss";
/*
COLORS
Primary: #eb2f64;
Primary Light: #ff3366;
primary dark: #BA265D;


Grey light 1: #faf9f9;
Grey light 2: #f4f2f2;
Grey light 3: #f0eeee;
Grey light 4: #ccc;

Grey Dark 1: #333;
Grey Dark 2: #777;
Grey Dark 3: #999;


*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-Dark-1: #333;
  --grey-Dark-2: #777;
  --grey-Dark-3: #999;
  --bp-largest: 75em;
}


* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // THAT IS ONE rem is EQUAL TO 10 px

  @media only screen and (max-width: $bp-large) {
      font-size: 50%; // TO MAKE THE GLOBAL ONE rem EQUAL TO  8px
  }
}
body {
  font-family: 'Open Sans' , sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-Dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// HERE I WILL ADD COMMON COMPONENT I WILL USE ALL OVER THE SITE ///////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// COOL ANIMATION BUTTON
// BIGGER SIZE
.btn {
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light),var(--color-primary-dark));
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  // CAUSE THERE IS ALOT OF CODE REPEATED :)
  & > * {
      width: 100%;
      height: 100%;
      display: inline-block;
      transition: all .2s;
  }

  &__visible {
      padding: 2rem 7.5rem;
  }

  &__hidden {
      padding: 2rem 0;
      position: absolute;
      left: 0;
      top: -100%;
  }


  &:hover {
      background-image: linear-gradient(to left, var(--color-primary-light),var(--color-primary-dark));
  }


  &:hover &__hidden {
      top: 0;

  }

  &:hover &__visible {
      transform: translateY(100%);
  }

  &:focus {
      outline: none;
      animation: Pulse 1s infinite;
  }
}



.heading__primary {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  font-weight: 100;
  background-image: linear-gradient(to right, var(--color-primary-light),var(--color-primary-dark));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
