.form-container {
    width: 80%;
    margin: auto;
    padding: 3rem;

    h2 {
        color: black;
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .Invalid-btn {
        opacity: 0.5;
    }
}