.order-summery {
    margin-bottom: 3rem;
    box-shadow:
    0  0.5rem 1rem rgba(154,160,185,0.05),
    0 1.5rem 4rem rgba(166,173,201,0.2);
    background-color: #FFF;
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 4rem;
    border-radius: 2rem;
    color: black;
    h2 {
        font-size: 2rem;

    }
    h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}